*.pyc
*.log
*.DCD
*.ets
*.LOG
*.pid
*.pid

*.LOG

*.dot

*.ets

*.pid

*.DCL

*.LOG

*.pid

*.rdq

*.DCL

bin/rabbitmq_server-3.5.6/var/lib/rabbitmq/mnesia/rabbit@Nicholass-MacBook-Air/rabbit_serial

*.dets

*.jif
