@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway_thin-webfont.ttf");
	/* http://creativenerds.co.uk/freebies/30-best-free-minimalistic-fonts-for-web-designers/ */
}

html {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
	overflow: hidden;
  height: 100%;
}

body {
  /*font-family: "Raleway";*/
  position: fixed;
	height: 100%;
	width: 100%;
}

/* TOP LEVEL ELEMENTS - TITLES */
#title {
  position: fixed;
  top: 0px;
  right: 20px;
	cursor: default;
}

#subtitle {
  position: fixed;
  top: 45px;
  right: 20px;
	cursor: default;
}

/* MISC */
#nes-name-experiment-input {
	position: fixed;
	left: -500px;
}

#nes-name-experiment-cursor {
	position: relative;
	top: -1px;
	height: 20px;
	display: none;
}
