@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway_thin-webfont.ttf");
}

html {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
	overflow: hidden;
  height: 100%;
}

body {
  font-family: "Raleway";
  position: fixed;
	height: 100%;
	width: 100%;
}

/* TOP LEVEL ELEMENTS - PANELS */
#splash-panel {
	display: none;
}

#main-panel {
	display: none;
}

#settings-panel {
	display: none;
}

/* TOP LEVEL ELEMENTS - SIDEBARS */
#new-sidebar {
	left: 51px;
	/*display: none;*/
}

#experiment-sidebar {
	display: none;
}

#mini-sidebar {
 /*display: none;*/
 /*left: -500px;*/
}

/* TOP LEVEL ELEMENTS - TITLES */
#title {
  position: fixed;
  top: 0px;
  right: 20px;
	cursor: default;
}

#subtitle {
  position: fixed;
  top: 45px;
  right: 20px;
	cursor: default;
}

/* BUTTONS AND OTHER ELEMENTS */

#new-experiment-name-input {
	position: relative;
	top: -50px;
}

#name-file-cursor {
	position: relative;
	top: -1px;
	height: 24px;
	display: none;
}

#name-file-menu-button {
	padding-top: 15px;
}
