/*

Panels occupy the main display, and are simply sized containers

*/

.panel {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 80%;
	height: 100%;
	min-width: 600px;
}

/*

The top level ui element is the sidebar, which has two versions of itself: collapsed and full
To facilitate smooth animation, there will be no transition between these. Both will exist, but alternately offscreen.

*/

.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
	display: block;
	overflow-y: auto;
	width: 250px;
	height: 100%;
	border-right: 1px solid #CCC;
}

.sidebar.mini {
	width: 51px;
	border-right: 0px solid #CCC;
}

.topbar {
	position: absolute;
	background-color: white;
	display: block;
	height: 51px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.bottombar {

}

.rightbar {

}

.console {

}

/*

The sidebars contain menu items. These come in the form of buttons, which can take the form of a single button
spanning the sidebar or in groups of two, three, or four.

*/

.btn {
	position: relative;
	left: 25px;
	width: 200px;
	border-radius: 0px;
	border-top: 0px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	height: 50px;
}

button:focus {
	outline:0px !important;
}

.sidebar.mini .btn {
	left: 0px;
	width: 51px;
	border-right: 1px solid #CCC;
	border-left: 0px;
}

.topbar .btn {
	left: auto;
	width: 51px;
	float: right;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 0px;
	border-bottom: 0px;
}

.console .btn {
	width: 51px;
	height: 51px;
	position: absolute;
	border-top: 1px solid #CCC;
}

.btn.notouch {
	cursor: default;
	border-bottom: 1px solid #CCC;
	background-color: white;
	box-shadow: none;
}

.btn.progress-inset {
	padding: 0px;
}

div.progress-inset {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0%;
	background-color: #00BA8A;
}

/*

Sometimes space is needed without button functionality. Spacers are based on the height of the x+- buttons.

*/

.spacer {
	position: relative;
	width: 200px;
	float: left;
	left: 25px;
	min-height: 22px;
	border-bottom: 1px solid #CCC;
}

.spacer.content {
	padding-left: 10px;
	padding-top: 10px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

.sidebar .spacer.tray {
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	height: 200px;
}

.sidebar.mini .spacer {
	width: 51px;
	left: 0px;
}

/*

A loading icon contains an image: spinner.

*/

.spinner {
	position: relative;
  height: 50px;
  margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
  display: block;
}
